{% assign tile = include.tile %}
<div class="tile tile--{{ include.tile_type }} col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-4">
  <a class="tile-link" {% if tile.url contains "http" %}target="_blank"{% endif %} href="{% unless tile.url contains "http" %}{{ site.baseurl }}{% endunless %}{{ tile.url }}" title="{{ tile.title }}"></a>
  <div class="tile-outline">
    <div class="tile-img" style="background-image: url('{% unless tile.image_path contains "http" %}{{ site.baseurl }}{% endunless %}{{ tile.image_path }}')"></div>
    <div class="tile-text">
      <h3 class="tile-title">
        {{ tile.title }}
        {% if tile.subtitle %}
          <span class="tile-subtitle">{{ tile.subtitle }}</span>
        {% endif %}
      </h3>

      {% if include.tile_type == "project" %}
        <p class="tile-excerpt">{{ tile.excerpt }}</p>
        <p class="tile-date">{{ site.data.labels.last_revision_prefix }} {{ tile.date | date: '%B %e, %Y' }}</p>
      {% elsif include.tile_type == "post" %}
        <img class="tile-author-pic" src="{{ tile.author_pic_path }}" alt="Photo of {{ tile.author }}"/>
        <div class="tile-meta">
          <p class="tile-author">{{ tile.author }}</p>
          <p class="tile-date">{{ site.data.labels.last_revision_prefix }} {{ tile.date | date: '%B %e, %Y' }}</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>
