---
layout: default
---

<section class="page-header center-xs">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8 col-xs-10 col-xs-offset-1">
        {% include page-section--header.html %}
      </div>
    </div>
  </div>
</section>

<section class="page-section start-xs">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8 col-xs-10 col-xs-offset-1">
        {{ content }}
      </div>
    </div>
  </div>
</section>
