[
{% assign recent_project_pages = site.projects | where: "active", true |  sort: "position" | %}
  {% for project in recent_project_pages %}
    {
      "title": "{{ project.title }}",
      "url": "{{ site.url }}{{ site.baseurl }}{{ project.redirect_to }}",
      "subtitle": "{{ project.subtitle }}",
      "img": "{{ site.url }}{{ site.baseurl }}{{ project.image_path }}",
      "excerpt": "{{ project.excerpt }}",
      "date": "{{ project.date | date: '%B %e, %Y' }}"
    }
    {% unless forloop.last %},{% endunless %}
  {% endfor %}
]
